{% if message.role == 'user' %}
<div class="d-flex text-body-secondary pt-3" message_id="{{ message_id }}">
    <i class="bi bi-person me-2" style="font-size: 2rem;"></i>
    <div class="mb-0 border-bottom w-100 lh-sm">
        <span class="text-gray-dark small"><b>User</b></span>
        <div style="word-break: break-all">
            {{ message.content | render_markdown | safe }}
        </div>
    </div>
</div>
{% elif message.role == 'tool' %}
<div class="d-flex text-body-secondary pt-3" message_id="{{ message_id }}">
    <i class="bi bi-gear me-2" style="font-size: 2rem;"></i>
    <div class="mb-0 border-bottom w-100 lh-sm">
        <span class="text-gray-dark small"><b>Tool</b></span>
        <div style="word-break: break-all">
            Function
            <code style="color: inherit">
                {{ message | render_tool_response_token }}
            </code> has responded.
        </div>
    </div>
</div>
{% elif message.role == 'assistant' %}
<div class="d-flex text-body-secondary pt-3" message_id="{{ message_id }}">
    <i class="bi bi-openai me-2" style="font-size: 2rem;"></i>
    <div class="mb-0 border-bottom w-100 lh-sm">
        <span class="text-gray-dark small"><b>Assistant</b></span>
        {% if message.content %}
            {{ message.content | render_markdown | safe }}
        {% elif message.tool_calls %}
            <div style="word-break: break-all">
                {% for tool_call in message.tool_calls %}
                    <p>
                        Call Python function
                        <code style="color: inherit">
                            {{ tool_call | render_tool_call_token }}
                        </code>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
